<div class="col-sm col-sm-offset-4 frame">

    <ul>
        

        <li style="width:100%;" class="pt-2">
            <div class="msj-rta macro">
                <div class="text text-r">
                    <p>como andas todo bien sfdsfsdfsdfdds fd s s d f sf sdsfsd </p>
                    <p><small>el</small></p>
                </div>
            <div class="avatar" style="padding:0px 0px 0px 10px !important">
            </div>
        </div>   
      </li>
        
        <li style="width:100%" class="pt-2">
            <div class="msj macro">
                <div class="text text-l">
                    <p>texto</p>
                    <p><small>Me</small></p>
                </div>
            </div>
        </li>
    </ul>
    <div>
        <div class="msj-rta macro" >                        
            <div class="text text-r" style="background:whitesmoke !important">
                <input class="mytext" placeholder="Type a message"/>
            </div> 
        </div>
    </div>
</div>    