<div  class="animated fadeIn">
<h1>About</h1>

<div class="row">
    <div class="col-sm">
        <p>Esta aplicación esta desarrollada en el marco des Proyecto de Extensión: <b> Entrenamiento en la programación de la computadora a partir de una aplicación para competencias </b> </p>
        <p>Esquema del juego. Cada jugador se registra en el sitio y se inscribe a un torneo, sobre el cual puede leer los enunciados. Los ejercicios los resuelve cada jugador en su máquina y en su lenguaje de preferencia. La comunicación para solicitud de parámetros y envío de respuesta es mediante servicios web REST.</p>
    </div>
</div>

<div class="row pt-4">
    <div class="col-sm">
        <pre>
Director: Lic. Ingrid D. Godoy
Co-Director: Lic. Pablo Kogan
Colaborador: Mg. Lidia M. López, Mg. C. Carina Fracchia
Integrantes: Mg. Ana C. Alonso de Armiño, Lic. Ignacio Ciruzzi, Prof. Graciela Duck
Estudiantes: Carolina Baeza, Valeria Flores, Juan Guler, Gladys Gómez.
Desarrolladores:
python (Mario Moya),
java (Viviana Sanchez, Maria Laura Pino),
c#.net (Silvina Roa, Daniel Dolz),
bash (Rafael Ignacio Zurita, Miriam Lechner)
c, c++(Eduardo Grosclaude),
VB (Lorena Gonzalez),
Perl (Daniel Toth),
Lisp, Ruby, ADA (Christian Giménez),
Pascal (Ignacio Ciruzzi),
Ciao Prolog (German Braun),
Smalltalk (Francisco Ortiz Peñaloza),
nodejs (Joan Stacco),
php (Pablo Kogan).

Facultad de Informática - Universidad Nacional del Comahue
Buenos Aires 1400 - Neuquén - Argentina - CP 8300
Teléfono: 0299-4490300 Interno 639
        </pre>
    </div>
</div>
</div>