
    <div class="p-grid">
        <div class="p-col" *ngIf="torneo">
            <p-dropdown [options]="torneo.torneosProblemas" [(ngModel)]="selectedProblem" placeholder="Seleccionar problema" optionLabel="problema.nombre" [showClear]="true"></p-dropdown>
        </div>
        
            <div *ngIf="selectedProblem" class="p-col">

                {{selectedProblem.problema.enunciado}}
            </div>
                <div  *ngIf="selectedProblem"  class="p-col" >
                    <div *ngIf="selectedProblem.problema.archivo">
                        <img id="imgid" src="{{environment.url}}/problemas/{{selectedProblem.problema.archivo}}" width="100" height="100" >
                    </div>
                </div>
        
    </div>
<div class="p-grid">
    <div class="p-col">
        <div class="shadow mt-1">
            <p-menubar  [model]="itemsTab">
                <div class="p-grid">

                    <div  *ngFor="let usuarioConectado of usuariosConectados" class="p-col">
                            <a [title]="usuarioConectado.nombreUsuario" class="badge" [style.color]="cambiarColor(usuarioConectado.color)" [style.background]="usuarioConectado.color">
                                {{getfirstLeter(usuarioConectado.nombreUsuario)}}
                            </a>
                    </div>
                </div>
            </p-menubar >
        </div>
    </div>
</div>
<div class="p-grid">
    <div class="p-col">

        <div class="shadow ">
            
            <p-tabView >
                <p-tabPanel header="Bloques">
                    <ng-template pTemplate="content">
                        <app-blockly [token]="token" [cargarXml]="xmlNuevo" (mostrarJavascript)="mostrarJs($event)"></app-blockly>
                    </ng-template>
                    
                </p-tabPanel>
                <p-tabPanel header="Javascript">
                    <textarea *ngIf="codeJs" highlight-js [options]="{}" [lang]="'javascript'">
                        {{codeJs}}
                    </textarea>        
                    
                </p-tabPanel>
                <p-tabPanel header="Xml">
                    <textarea *ngIf="codeXml" highlight-js [options]="{}" [lang]="'xml'">
                        {{codeXml | xml}}
                    </textarea>   
                </p-tabPanel>
                

            </p-tabView>
            
        </div>
        
        </div>
    </div>
    

<p-sidebar [(visible)]="isVisibleChat" position="right" [baseZIndex]="10000">
    <h3 style="font-weight:normal">Chat</h3>
    <app-chat></app-chat>
</p-sidebar>

<p-dialog [responsive]="true" header="Cargar Codigo" [(visible)]="displayModal" [modal]="true" [style]="{width: '50vw'}" [baseZIndex]="10000"
    [draggable]="false" [resizable]="false">
    <p-scrollPanel [style]="{width: '100%', height: '300px'}" styleClass="custombar1">

        <app-codigo-usuario [codigos]="codigosUsuarios"></app-codigo-usuario>
    </p-scrollPanel>
        <p-footer>
            <button type="button" pButton icon="pi pi-check" (click)="displayModal=false" label="Cargar"></button>
            <button type="button" pButton icon="pi pi-times" (click)="displayModal=false" label="Cancelar" class="ui-button-secondary"></button>
        </p-footer>
</p-dialog>

<p-dialog header="Guardar Xml" [(visible)]="displayGuardar" [modal]="true" [responsive]="true">
    <span class="ui-float-label mt-2">
        <input id="float-input-username" [(ngModel)]="nombreCodigoAGuardar"  name="nombreCodigoAGuardar" type="text" pInputText> 
        <label for="float-input-username">Nombre</label>
    </span>
    <p-footer>
        <button type="button" class="ui-button-success" (click)="guardarXml()" pButton icon="pi pi-check" label="Guardar"></button>
    </p-footer>
</p-dialog>