<!--div style="background-color:#F1FEFF;
  "-->


  <div style="background-color:  #F6F3E7;">
    <app-navbar ></app-navbar>


      <div class="p-5">

        <notifier-container></notifier-container>
      
        <router-outlet></router-outlet>
      </div>
    
    <div *ngIf="false">
      <div class="pt-3"> 
        <router-outlet></router-outlet>
      </div>
    </div>
    
  </div>

