<div class="p-grid">
    <div class="p-col">
        <button pButton type="button" label="Nuevo problema" [routerLink]="['/crear-problema','nuevo']" class="ui-button-raised ui-button-success mb-3"></button>

    </div>

    
</div>

<div class="p-grid">
    <div class="p-col">
        <p-table  [paginator]="true" [rows]="10" styleClass="ui-table-cars"  [responsive]="true" selectionMode="single" [value]="problemas">
   
            <ng-template pTemplate="colgroup" let-columns>
                <col span="1" style="width: 15%;">
                <col span="1" style="width: 25%;">
                <col span="1" style="width: 35%;">
                <col span="1" style="width: 15%;">
                <col span="1" style="width: 10%;">

            
            </ng-template>
           
            <ng-template pTemplate="header">
                <tr class="shadow">
                    <th class="header-table" >Id</th>
                    <th class="header-table" >Nombre</th>
                    <th class="header-table">Enunciado</th>
                    <th class="header-table">Etiquetas</th>
                    <th class="header-table">
        
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-problema>
                <div class="tabla-responsiva"> <br></div>
        
                <tr class="shadow">
                    <td>                    
                        <span class="ui-column-title">Id:</span>
                        {{problema.idProblema}}</td>
                    <td>
                        <span class="ui-column-title">Nombre usuario:</span> 
                        {{problema.nombre}}</td>
                    <td> 
                        <span class="ui-column-title">Institucion:</span>
                        <read-more [text]="problema.enunciado" [maxLength]="50">
                        </read-more></td>
                    <td>
                        <span class="ui-column-title">Email:</span>
                       {{problema.etiquetas}}</td>            
                
                    <td align="right" >
                        <button 
                            pButton 
                            type="button" 
                            [routerLink]="['/crear-problema',problema.idProblema]" 
                            class="ui-button-success ui-corner-all" 
                            icon="pi pi-user-edit">
                        </button>
                    </td>
                </tr>
            </ng-template>
        </p-table>




    </div>

</div>











