.main-container{
    margin-top: 40px;
    margin-bottom: 150px;
  }
  .gris{
    background-color: #DCDCDC;
  }
  .br-ln { 
    overflow-wrap: anywhere; 
 }
  .puntero{
    cursor: pointer;
  }
  
  .w120{
    width: 120px;
  }
  
  /* Animaciones */
  .animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }
  
  .fast {
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  }
  
  .fadeIn {
    animation-name: fadeIn;
  }
  

  .filter-container {
    text-align: center;
}

@media screen and (min-width: 40em) {
  .tabla-responsiva{
      display: none !important;
  }
}

@media screen and (max-width: 40em) {
  .imgTam {
    width: 60%;
  } 
}

.imgTam {
    width: 455px;
    height: 455px;
} 


.car-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5em;
    border-bottom: 1px solid #d9dad9;
}
.car-details > div {
    display: flex;
    align-items: center;
}
.car-details > div img {
    margin-right: 14px;
}
.car-detail {
    padding: 0 1em 1em 1em;
    border-bottom: 1px solid #d9dad9;
    margin: 1em;
}
.ui-panel-content {
    padding: 1em;
}
.dark-theme :host ::ng-deep .car-details,
.dark-theme :host ::ng-deep .car-detail {
    border-bottom: 1px solid #191919;
}

@media (max-width: 1024px) {
    .car-details img {
         width: 75px;
    }
    .filter-container {
        text-align: left;
    }
}

.ui-table.ui-table-cars .ui-table-caption.ui-widget-header {
  border: 0 none;
  padding: 12px;
  text-align: left;
  font-size: 20px;
}
.ui-column-filter {
  margin-top: 1em;
}
.ui-column-filter .ui-multiselect-label {
  font-weight: 500;
}

.ui-table.ui-table-cars .ui-table-thead > tr > th {
  border: 0 none;
  text-align: left;
}

.ui-table-globalfilter-container {
  float: right;
  display: inline;
}
.ui-table.ui-table-cars .ui-table-tbody > tr > td {
  border: 0 none;
}
.ui-table.ui-table-cars .ui-table-tbody .ui-column-title {
  font-size: 16px;
}
.ui-table.ui-table-cars .ui-paginator {
  border: 0 none;
  padding: 1em;
}

body .ui-paginator .ui-paginator-pages .ui-paginator-page.ui-state-active {
  background-color: #2332e0;
  color: #ffffff;
}


body .ui-panelmenu .ui-panelmenu-header.ui-state-active > a {
  border: 1px solid  #2332e0;
  background-color:  #2332e0;
  color: #ffffff;
  -moz-border-radius-bottomleft: 0;
  -webkit-border-bottom-left-radius: 0;
  border-bottom-left-radius: 0;
  -moz-border-radius-bottomright: 0;
  -webkit-border-bottom-right-radius: 0;
  border-bottom-right-radius: 0;
}

body .ui-tabview.ui-tabview-top .ui-tabview-nav li.ui-state-active, body .ui-tabview.ui-tabview-bottom .ui-tabview-nav li.ui-state-active, body .ui-tabview.ui-tabview-left .ui-tabview-nav li.ui-state-active, body .ui-tabview.ui-tabview-right .ui-tabview-nav li.ui-state-active {
  background-color: #2332e0;
  border: 1px solid #2332e0;
}

body .ui-panelmenu .ui-panelmenu-header.ui-state-active > a:hover {
  outline: 0 none;
  border: 1px solid #8c66e9;
  background-color: #8c66e9;
  color: #ffffff;
}

body .ui-panelmenu .ui-panelmenu-header.ui-state-active > a {
  border: 1px solid #8c66e9;
  background-color: #8c66e9;
  color: #ffffff;
  -moz-border-radius-bottomleft: 0;
  -webkit-border-bottom-left-radius: 0;
  border-bottom-left-radius: 0;
  -moz-border-radius-bottomright: 0;
  -webkit-border-bottom-right-radius: 0;
  border-bottom-right-radius: 0;
}
